final year jQuery/XML/plantcatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="PLANT">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="COMMON" type="xs:string"/>
      <xs:element name="BOTANICAL" type="xs:string"/>
      <xs:element name="ZONE" type="xs:string"/>
      <xs:element name="LIGHT" type="xs:string"/>
	  <xs:element name="PRICE" type="xs:string"/>
	  <xs:element name="AVAILABILITY" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
